<div class="popup">
    <div class="camera">
        <div class="container">
          <div class="side" style="--i: 0; background: #D9ED92;"></div>
          <div class="side" style="--i: 1; background: #B5E48C;"></div>
          <div class="side" style="--i: 2; background: #99D98C;"></div>
          <div class="side" style="--i: 3; background: #76C893;"></div>
          <div class="side" style="--i: 4; background: #52B69A;"></div>
          <div class="side" style="--i: 5; background: #34A0A4;"></div>
          <div class="side" style="--i: 6; background: #168AAD;"></div>
          <div class="side" style="--i: 7; background: #1A759F;"></div>
        </div>
      </div>
</div>
