<div class="showAd">


  >>>>> {{data}}

  <br>
    Value: {{inputValue}}

    <br>
    <!-- <ul *ngFor="let item of myData">
      <li>{{item}}</li>
    </ul> -->

    <!-- <input #myInput  type="text" [value]="hi">
    <button (click)="getValue(myInput)">Go</button> >> {{data}} -->
    

    <input type="text" [(ngModel)]="data" (keydown)="function()">
    <button (click)="sendData()">Send</button>

    <br>
    
    value: {{inputValue}}
    <br>

    <!-- <button (click)="sendMessage()">Send Message</button> -->

</div>
