
<div style="margin:  0 auto; width: 400px;">



<h3>Reactive Form Angular</h3>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="username">Username:</label>
      <input id="username" formControlName="username">
      <div *ngIf="myForm.get('username')?.invalid && myForm.get('username')?.touched">
        <!-- Validation error messages -->
        <small *ngIf="myForm.get('username')?.errors?.['required']">Username is required.</small>
        <small *ngIf="myForm.get('username')?.errors?.['minlength']">Username must be at least 3 characters.</small>
      </div>
    </div>
  
    <div>
      <label for="email">Email:</label>
      <input id="email" formControlName="email">
      <div *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched">
        <small *ngIf="myForm.get('email')?.errors?.['required']">Email is required.</small>
        <small *ngIf="myForm.get('email')?.errors?.['email']">Enter a valid email.</small>
      </div>
    </div>
  
    <div>
      <label for="password">Password:</label>
      <input id="password" type="password" formControlName="password">
      <div *ngIf="myForm.get('password')?.invalid && myForm.get('password')?.touched">
        <small *ngIf="myForm.get('password')?.errors?.['required']">Password is required.</small>
        <small *ngIf="myForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters.</small>
      </div>
    </div>

    <div>
        <label for="password">Address:</label>
        <input   type="text" formControlName="address">
        <div *ngIf="myForm.get('address')?.invalid && myForm.get('address')?.touched">
          <small *ngIf="myForm.get('address')?.errors?.['required']">address is required.</small>
          <small *ngIf="myForm.get('address')?.errors?.['minlength']">address must be at least 6 characters.</small>
        </div>
      </div>
  
    <button type="submit" [disabled]="myForm.invalid">Submit</button>
  </form>

</div>

